/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

@font-face {
  font-family: "Poppins";
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@theme {
  --font-poppins: "Poppins", sans-serif;
}

* {
  font-family: var(--font-poppins);
}
